<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>
<!ELEMENT documentation ANY>
<!ATTLIST documentation id ID #REQUIRED>
<!ELEMENT productItem ANY>
<!ATTLIST productItem id ID #REQUIRED>
<!ELEMENT textpage ANY>
<!ATTLIST textpage id ID #REQUIRED>
<!ELEMENT community ANY>
<!ATTLIST community id ID #REQUIRED>
<!ELEMENT communityMember ANY>
<!ATTLIST communityMember id ID #REQUIRED>
<!ELEMENT newsArea ANY>
<!ATTLIST newsArea id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT promoRepository ANY>
<!ATTLIST promoRepository id ID #REQUIRED>
<!ELEMENT blogItem ANY>
<!ATTLIST blogItem id ID #REQUIRED>
<!ELEMENT newsItem ANY>
<!ATTLIST newsItem id ID #REQUIRED>
<!ELEMENT promoItem ANY>
<!ATTLIST promoItem id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
]>
<root id="-1">
  <homepage id="1058" key="1cfd94f4-56dd-4c1a-88c5-9928534b4d26" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-01-08T10:01:51" updateDate="2016-04-26T15:34:34" nodeName="Welcome" urlName="welcome" path="-1,1058" isDoc="" nodeType="1051" creatorName="Admin" writerName="Admin" writerID="0" template="1050" nodeTypeAlias="homepage">
    <newsArea id="1122" key="886ab9da-9adb-4ec6-a92b-7ce0cb8019d5" parentID="1058" level="2" creatorID="0" sortOrder="0" createDate="2016-03-29T14:17:54" updateDate="2016-04-07T15:27:56" nodeName="News" urlName="news" path="-1,1058,1122" isDoc="" nodeType="1117" creatorName="Admin" writerName="Admin" writerID="0" template="1116" nodeTypeAlias="newsArea">
      <bodyText><![CDATA[<p>This is the latest news from the course:</p>]]></bodyText>
      <newsItem id="1132" key="30370d95-9a98-4f7f-989c-78c84842afc1" parentID="1122" level="3" creatorID="0" sortOrder="0" createDate="2016-03-29T14:20:41" updateDate="2016-04-07T15:28:33" nodeName="Almost Halfway now" urlName="almost-halfway-now" path="-1,1058,1122,1132" isDoc="" nodeType="1128" creatorName="Admin" writerName="Admin" writerID="0" template="1127" nodeTypeAlias="newsItem">
        <summary><![CDATA[Collaboratively administrate empowered markets via plug-and-play networks.]]></summary>
        <bodyText><![CDATA[<p>Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Fusce fermentum. Fusce pharetra convallis urna. Pellentesque auctor neque nec urna.</p>
<p>Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl, id fringilla neque ante vel mi. Donec venenatis vulputate lorem. Nullam vel sem. Nullam cursus lacinia erat. Phasellus viverra nulla ut metus varius laoreet.</p>
<p>Vestibulum volutpat pretium libero. Cras id dui. Praesent adipiscing. Proin magna. Nullam sagittis.</p>
<p>Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam. Maecenas nec odio et ante tincidunt tempus. Praesent venenatis metus at tortor pulvinar varius. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Praesent venenatis metus at tortor pulvinar varius.</p>
<p> </p>]]></bodyText>
      </newsItem>
      <newsItem id="1133" key="1960e1ba-4dae-4ee5-b525-33eae79e5342" parentID="1122" level="3" creatorID="0" sortOrder="1" createDate="2016-03-29T14:20:52" updateDate="2016-04-07T15:28:21" nodeName="New News" urlName="new-news" path="-1,1058,1122,1133" isDoc="" nodeType="1128" creatorName="Admin" writerName="Admin" writerID="0" template="1127" nodeTypeAlias="newsItem">
        <summary><![CDATA[Collaboratively administrate empowered markets via plug-and-play networks.]]></summary>
        <bodyText><![CDATA[<p>Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl, id fringilla neque ante vel mi. Donec venenatis vulputate lorem. Nullam vel sem. Nullam cursus lacinia erat. Phasellus viverra nulla ut metus varius laoreet.</p>
<p>Vestibulum volutpat pretium libero. Cras id dui. Praesent adipiscing. Proin magna. Nullam sagittis.</p>
<p>Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam. Maecenas nec odio et ante tincidunt tempus. Praesent venenatis metus at tortor pulvinar varius. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Praesent venenatis metus at tortor pulvinar varius.</p>
<p>Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Fusce fermentum. Fusce pharetra convallis urna. Pellentesque auctor neque nec urna.</p>]]></bodyText>
      </newsItem>
    </newsArea>
    <textpage id="1141" key="f41b404d-553c-4cd9-893a-d4d523983776" parentID="1058" level="2" creatorID="0" sortOrder="1" createDate="2016-04-07T15:06:02" updateDate="2016-04-07T15:11:12" nodeName="Services" urlName="services" path="-1,1058,1141" isDoc="" nodeType="1072" creatorName="Admin" writerName="Admin" writerID="0" template="1071" nodeTypeAlias="textpage">
      <bodyText><![CDATA[<p>Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Suspendisse eu ligula. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. Vestibulum eu odio. In ac felis quis tortor malesuada pretium.</p>
<p>Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam. Donec venenatis vulputate lorem. Nullam quis ante. Etiam ultricies nisi vel augue. Cras non dolor.</p>
<p>Praesent vestibulum dapibus nibh. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Aenean imperdiet.</p>
<p>Nam pretium turpis et arcu. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Nulla sit amet est. Phasellus tempus. In ut quam vitae odio lacinia tincidunt.</p>]]></bodyText>
      <umbracoNaviHide>0</umbracoNaviHide>
    </textpage>
    <documentation id="1083" key="43d9baaa-353e-4134-8164-9bbe005eea56" parentID="1058" level="2" creatorID="0" sortOrder="2" createDate="2016-01-27T11:56:05" updateDate="2016-04-07T15:33:15" nodeName="Documentation" urlName="documentation" path="-1,1058,1083" isDoc="" nodeType="1053" creatorName="Admin" writerName="Admin" writerID="0" template="1052" nodeTypeAlias="documentation">
      <bodyText><![CDATA[<h3>Product documentation - Processor metafile adaptive supporting proxy, echo integer or network frequency. Reflective n-tier pc broadband patch connectivity log in. Frequency, connectivity normalizing silicon debugged.</h3>
<h4>femtosecond anomoly</h4>
<div>supporting audio floating-point adaptive kilohertz sampling. Disk audio cascading, bridgeware reducer video normalizing for, internet, audio. Dithering software sequential sequential servicing mainframe cache indeterminate partitioned reducer, network mainframe recognition technician inversion.</div>
<div></div>
<h4>Plasma logistically system</h4>
<div>services transponder partitioned supporting kilohertz, system, floating-point fragmentation analog. Phase, sampling device arrray, generator transmission fragmentation interface generator sampling analog bypass encapsulated normalizing. Supporting arrray supporting network phaselock adaptive supporting.</div>
<ol>
<li>Cable mainframe video feedback deviation bypass frequency potentiometer software read-only, resistor computer mainframe.</li>
<li>Audio analog, harmonic development phaselock</li>
<li>Feedback encapsulated infrared prototype debugged</li>
<li>remote bypass adaptive. In potentiometer mainframe log or prompt led processor phase partitioned.</li>
</ol>
<div></div>
<div>Processor metafile adaptive supporting proxy, echo integer or network frequency. Reflective n-tier pc broadband patch connectivity log in. Frequency, connectivity normalizing silicon debugged, n-tier femtosecond anomoly supporting audio floating-point adaptive kilohertz sampling. Disk audio cascading, bridgeware reducer video normalizing for, internet, audio. Dithering software sequential sequential servicing mainframe cache indeterminate partitioned reducer, network mainframe recognition technician inversion.</div>]]></bodyText>
      <documentation id="1059" key="0b83ca69-b43f-4a64-b667-5020b39d9d73" parentID="1083" level="3" creatorID="0" sortOrder="1" createDate="2016-01-08T10:02:14" updateDate="2016-10-12T19:06:52" nodeName="How to use Forms" urlName="how-to-use-forms" path="-1,1058,1083,1059" isDoc="" nodeType="1053" creatorName="Admin" writerName="Admin" writerID="0" template="1052" nodeTypeAlias="documentation">
        <bodyText><![CDATA[<div>Processor metafile adaptive supporting proxy, echo integer or network frequency. Reflective n-tier pc broadband patch connectivity log in. Frequency, connectivity normalizing silicon debugged, n-tier femtosecond anomoly supporting audio</div>
<div></div>
<div>floating-point adaptive kilohertz sampling. Disk audio cascading, bridgeware reducer video normalizing for, internet, audio. Dithering software sequential sequential servicing mainframe cache indeterminate partitioned reducer, network mainframe recognition technician inversion.</div>
<div></div>
<div>Processor metafile adaptive supporting proxy, echo integer or network frequency. Reflective n-tier pc broadband patch connectivity log in. Frequency,</div>
<div></div>
<div>connectivity normalizing silicon debugged, n-tier femtosecond anomoly supporting audio floating-point adaptive kilohertz sampling. Disk audio cascading, bridgeware reducer video normalizing for, internet, audio. Dithering software sequential sequential servicing mainframe cache indeterminate partitioned reducer, network mainframe recognition technician inversion.</div>]]></bodyText>
        <images><![CDATA[1088]]></images>
      </documentation>
      <documentation id="1085" key="19e09ee1-e58d-4c64-85ba-9b17dd26b519" parentID="1083" level="3" creatorID="0" sortOrder="2" createDate="2016-01-27T12:29:12" updateDate="2016-10-12T19:07:04" nodeName="The future of Courier" urlName="the-future-of-courier" path="-1,1058,1083,1085" isDoc="" nodeType="1053" creatorName="Admin" writerName="Admin" writerID="0" template="1052" nodeTypeAlias="documentation">
        <bodyText><![CDATA[<div>Processor metafile adaptive supporting proxy, echo integer or network frequency. Reflective n-tier pc broadband patch connectivity log in. Frequency, connectivity normalizing silicon debugged, n-tier femtosecond anomoly supporting audio floating-point adaptive kilohertz sampling. Disk audio cascading, bridgeware reducer video normalizing for, internet, audio. Dithering software sequential sequential servicing mainframe cache indeterminate partitioned reducer, network mainframe recognition technician inversion.</div>
<div></div>
<div>Plasma logistically system services transponder partitioned supporting kilohertz, system, floating-point fragmentation analog. Phase, sampling device arrray, generator transmission fragmentation interface generator sampling analog bypass encapsulated normalizing. Supporting arrray supporting network phaselock adaptive supporting. Cable mainframe video feedback deviation bypass frequency potentiometer software read-only, resistor computer mainframe. Audio analog, harmonic development phaselock feedback encapsulated infrared prototype debugged remote bypass adaptive. In potentiometer mainframe log or prompt led processor phase partitioned.</div>
<div></div>
<div>Processor metafile adaptive supporting proxy, echo integer or network frequency. Reflective n-tier pc broadband patch connectivity log in. Frequency, connectivity normalizing silicon debugged, n-tier femtosecond anomoly supporting audio floating-point adaptive kilohertz sampling. Disk audio cascading, bridgeware reducer video normalizing for, internet, audio. Dithering software sequential sequential servicing mainframe cache indeterminate partitioned reducer, network mainframe recognition technician inversion.</div>]]></bodyText>
      </documentation>
      <documentation id="1086" key="99081e65-36f1-4e3e-b7f6-49351c1570a6" parentID="1083" level="3" creatorID="0" sortOrder="3" createDate="2016-01-27T12:29:42" updateDate="2016-10-12T19:07:15" nodeName="Courier and Umbraco Cloud" urlName="courier-and-umbraco-cloud" path="-1,1058,1083,1086" isDoc="" nodeType="1053" creatorName="Admin" writerName="Admin" writerID="0" template="1052" nodeTypeAlias="documentation">
        <bodyText><![CDATA[<div>Processor metafile adaptive supporting proxy, echo integer or network frequency. Reflective n-tier pc broadband patch connectivity log in.</div>
<div></div>
<div>Frequency, connectivity normalizing silicon debugged, n-tier femtosecond anomoly supporting audio floating-point adaptive kilohertz sampling. Disk audio cascading, bridgeware reducer</div>
<div></div>
<div>video normalizing for, internet, audio. Dithering software sequential sequential servicing mainframe cache indeterminate partitioned reducer, network mainframe recognition technician inversion.</div>
<div></div>
<div>Plasma logistically system services transponder partitioned supporting kilohertz, system, floating-point fragmentation analog. Phase, sampling device arrray, generator transmission fragmentation interface generator sampling analog bypass encapsulated normalizing.</div>
<div></div>
<div>Supporting arrray supporting network phaselock adaptive supporting. Cable mainframe video feedback deviation bypass frequency potentiometer software read-only, resistor computer mainframe. Audio analog, harmonic development phaselock feedback encapsulated infrared prototype debugged remote bypass adaptive. In potentiometer mainframe log or prompt led processor phase partitioned</div>
<div></div>]]></bodyText>
      </documentation>
      <documentation id="1087" key="6930496d-877e-4684-8583-12d639aa683b" parentID="1083" level="3" creatorID="0" sortOrder="4" createDate="2016-01-27T12:30:29" updateDate="2016-10-12T19:07:37" nodeName="Umbraco Cloud Possibilities" urlName="umbraco-cloud-possibilities" path="-1,1058,1083,1087" isDoc="" nodeType="1053" creatorName="Admin" writerName="Admin" writerID="0" template="1052" nodeTypeAlias="documentation">
        <bodyText><![CDATA[<div>Processor metafile adaptive supporting proxy, echo integer or network frequency. Reflective n-tier pc broadband patch connectivity log in. Frequency, connectivity normalizing silicon debugged, n-tier femtosecond anomoly supporting audio floating-point adaptive kilohertz sampling. Disk audio cascading, bridgeware reducer video normalizing for, internet, audio. Dithering software sequential sequential servicing mainframe cache indeterminate partitioned reducer, network mainframe recognition technician inversion.</div>
<div></div>
<div>Plasma logistically system services transponder partitioned supporting kilohertz, system, floating-point fragmentation analog. Phase,</div>
<div></div>
<div>sampling device arrray, generator transmission fragmentation interface generator sampling analog bypass encapsulated normalizing. Supporting arrray supporting network phaselock adaptive supporting. Cable mainframe video feedback deviation bypass frequency potentiometer software read-only, resistor</div>
<div></div>
<div>computer mainframe. Audio analog, harmonic development phaselock feedback encapsulated infrared prototype debugged remote bypass adaptive. In potentiometer mainframe log or prompt led processor phase partitioned.</div>
<div></div>
<div>Processor metafile adaptive supporting proxy, echo integer or network frequency. Reflective n-tier pc broadband patch connectivity log in. Frequency, connectivity normalizing silicon debugged, n-tier femtosecond anomoly supporting audio floating-point adaptive kilohertz sampling. Disk audio cascading, bridgeware reducer video normalizing for, internet, audio. Dithering software sequential sequential servicing mainframe cache indeterminate partitioned reducer, network mainframe recognition technician inversion.</div>]]></bodyText>
      </documentation>
    </documentation>
    <blog id="1123" key="6f9430ac-1b6f-4df7-8ca4-c4c93390e773" parentID="1058" level="2" creatorID="0" sortOrder="3" createDate="2016-03-29T14:18:11" updateDate="2016-04-07T15:11:12" nodeName="Blog" urlName="blog" path="-1,1058,1123" isDoc="" nodeType="1119" creatorName="Admin" writerName="Admin" writerID="0" template="1118" nodeTypeAlias="blog">
      <blogItem id="1131" key="5dbf09a4-09e0-483f-8060-a9608151a1ed" parentID="1123" level="3" creatorID="0" sortOrder="0" createDate="2016-03-29T14:20:27" updateDate="2016-03-29T14:20:27" nodeName="My First Blog Post" urlName="my-first-blog-post" path="-1,1058,1123,1131" isDoc="" nodeType="1126" creatorName="Admin" writerName="Admin" writerID="0" template="1125" nodeTypeAlias="blogItem" />
    </blog>
    <products id="1146" key="b71a78e8-c7df-4c68-b4a7-7675a4b96a2c" parentID="1058" level="2" creatorID="0" sortOrder="4" createDate="2016-04-07T15:11:44" updateDate="2017-01-25T11:11:59" nodeName="Products" urlName="products" path="-1,1058,1146" isDoc="" nodeType="1144" creatorName="Admin" writerName="Admin" writerID="0" template="1143" nodeTypeAlias="products">
      <productItem id="1068" key="25b724f3-6bd6-4274-9071-c3aa8749dec5" parentID="1146" level="3" creatorID="0" sortOrder="1" createDate="2016-01-08T12:44:38" updateDate="2017-01-25T11:42:44" nodeName="Forms" urlName="forms" path="-1,1058,1146,1068" isDoc="" nodeType="1057" creatorName="Admin" writerName="Admin" writerID="0" template="1056" nodeTypeAlias="productItem">
        <deliveryTime><![CDATA[7]]></deliveryTime>
        <homeImages><![CDATA[{
  "focalPoint": {
    "left": 0.51333333333333331,
    "top": 0.49
  },
  "src": "/media/1018/hq_9764.jpg",
  "crops": [
    {
      "alias": "Square",
      "width": 200,
      "height": 200,
      "coordinates": {
        "x1": 0.066532626576494239,
        "y1": 2.8421709430404018E-16,
        "x2": 0.26686163407055369,
        "y2": 0
      }
    },
    {
      "alias": "wide",
      "width": 700,
      "height": 100,
      "coordinates": {
        "x1": 0,
        "y1": 0.14642171647929805,
        "x2": 0,
        "y2": 0.63927298366563512
      }
    }
  ]
}]]></homeImages>
        <productInfo><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Single box",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><strong>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</strong></p>\n<p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "616621c0-3772-ec65-fceb-fee2b6de93d2"
        },
        {
          "name": "Half and Half",
          "areas": [
            {
              "grid": 6,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1091,
                    "image": "/media/1003/hq_9921.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1089,
                    "image": "/media/1001/hq_0413.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "7b4c4ef7-794d-4862-9139-25e4e09e811c"
        },
        {
          "name": "Small image and wide text",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span style=\"font-size: 18px;\">Collaboratively administrate empowered markets via plug-and-play networks.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. </span><br /><br /><span>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. </span><br /><br /><span>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "f5642a54-e4db-3b7c-55eb-ce9de22001ea"
        }
      ]
    }
  ]
}]]></productInfo>
      </productItem>
      <productItem id="1082" key="15928f46-d1e6-426b-9564-b1b8ddc00757" parentID="1146" level="3" creatorID="0" sortOrder="2" createDate="2016-01-22T12:42:45" updateDate="2017-01-25T11:11:59" nodeName="Courier" urlName="courier" path="-1,1058,1146,1082" isDoc="" nodeType="1057" creatorName="Admin" writerName="Admin" writerID="0" template="1056" nodeTypeAlias="productItem">
        <deliveryTime>3</deliveryTime>
        <homeImages><![CDATA[/media/1016/hq_9772.jpg]]></homeImages>
      </productItem>
      <productItem id="1148" key="02a4daea-09a6-4fa7-b782-7185dc8f5a7a" parentID="1146" level="3" creatorID="0" sortOrder="3" createDate="2016-04-07T16:19:34" updateDate="2017-01-25T11:11:59" nodeName="Cloud" urlName="cloud" path="-1,1058,1146,1148" isDoc="" nodeType="1057" creatorName="Admin" writerName="Admin" writerID="0" template="1056" nodeTypeAlias="productItem">
        <deliveryTime>3</deliveryTime>
        <homeImages><![CDATA[/media/1017/hq_9820.jpg]]></homeImages>
      </productItem>
    </products>
    <promoRepository id="1124" key="ca848844-b82e-44d2-828c-17bf8d66d04d" parentID="1058" level="2" creatorID="0" sortOrder="5" createDate="2016-03-29T14:18:34" updateDate="2016-04-07T15:12:16" nodeName="Promo Repository" urlName="promo-repository" path="-1,1058,1124" isDoc="" nodeType="1121" creatorName="Admin" writerName="Admin" writerID="0" template="1120" nodeTypeAlias="promoRepository">
      <umbracoNaviHide>1</umbracoNaviHide>
      <promoItem id="1134" key="06914a0f-d7ae-412e-b8e4-974dccc14711" parentID="1124" level="3" creatorID="0" sortOrder="0" createDate="2016-03-29T14:21:06" updateDate="2016-03-29T14:21:06" nodeName="Inviting" urlName="inviting" path="-1,1058,1124,1134" isDoc="" nodeType="1130" creatorName="Admin" writerName="Admin" writerID="0" template="1129" nodeTypeAlias="promoItem" />
      <promoItem id="1135" key="3ab9cafa-daf7-434c-9b89-58ad1de69270" parentID="1124" level="3" creatorID="0" sortOrder="1" createDate="2016-03-29T14:21:17" updateDate="2016-03-29T14:21:17" nodeName="Powerful" urlName="powerful" path="-1,1058,1124,1135" isDoc="" nodeType="1130" creatorName="Admin" writerName="Admin" writerID="0" template="1129" nodeTypeAlias="promoItem" />
      <promoItem id="1136" key="9445c918-3b24-429d-a0a5-bb5bcb4f7651" parentID="1124" level="3" creatorID="0" sortOrder="2" createDate="2016-03-29T14:21:24" updateDate="2016-03-29T14:21:24" nodeName="Awesome" urlName="awesome" path="-1,1058,1124,1136" isDoc="" nodeType="1130" creatorName="Admin" writerName="Admin" writerID="0" template="1129" nodeTypeAlias="promoItem" />
    </promoRepository>
    <community id="1101" key="48e39931-e5e0-46e2-8173-c9e2b78064e6" parentID="1058" level="2" creatorID="0" sortOrder="6" createDate="2016-02-06T14:08:25" updateDate="2017-01-25T14:53:34" nodeName="Community" urlName="community" path="-1,1058,1101" isDoc="" nodeType="1097" creatorName="Admin" writerName="Admin" writerID="0" template="1096" nodeTypeAlias="community">
      <umbracoNaviHide>0</umbracoNaviHide>
      <communityMember id="1102" key="f3766bf3-cc25-49f2-8d3c-e2ac6f6600c2" parentID="1101" level="3" creatorID="0" sortOrder="0" createDate="2016-02-06T14:17:53" updateDate="2017-01-25T14:54:38" nodeName="Per Ploug" urlName="per-ploug" path="-1,1058,1101,1102" isDoc="" nodeType="1100" creatorName="Admin" writerName="Admin" writerID="0" template="1099" nodeTypeAlias="communityMember">
        <twitterHandle><![CDATA[pploug]]></twitterHandle>
        <email><![CDATA[pploug@umbraco.com]]></email>
      </communityMember>
      <communityMember id="1105" key="23aebf69-896a-4ee5-8500-2489bda23e73" parentID="1101" level="3" creatorID="0" sortOrder="1" createDate="2016-02-08T08:52:20" updateDate="2017-01-25T14:42:46" nodeName="Niels Hartvig" urlName="niels-hartvig" path="-1,1058,1101,1105" isDoc="" nodeType="1100" creatorName="Admin" writerName="Admin" writerID="0" template="1099" nodeTypeAlias="communityMember">
        <twitterHandle><![CDATA[umbraco]]></twitterHandle>
        <email><![CDATA[niel@umbraco.com]]></email>
      </communityMember>
      <communityMember id="1106" key="eb9f44a0-c41c-4365-95d0-fd22dab6a449" parentID="1101" level="3" creatorID="0" sortOrder="2" createDate="2016-02-08T08:52:41" updateDate="2017-01-25T14:43:36" nodeName="Rune Strand" urlName="rune-strand" path="-1,1058,1101,1106" isDoc="" nodeType="1100" creatorName="Admin" writerName="Admin" writerID="0" template="1099" nodeTypeAlias="communityMember">
        <twitterHandle><![CDATA[hemraker]]></twitterHandle>
        <email><![CDATA[rune@umbraco.com]]></email>
      </communityMember>
      <communityMember id="1152" key="da7e8ac1-5d20-49b3-9c85-4166329c8772" parentID="1101" level="3" creatorID="0" sortOrder="3" createDate="2016-10-12T19:02:04" updateDate="2017-01-25T14:44:00" nodeName="Andrew Barta" urlName="andrew-barta" path="-1,1058,1101,1152" isDoc="" nodeType="1100" creatorName="Admin" writerName="Admin" writerID="0" template="1099" nodeTypeAlias="communityMember">
        <twitterHandle><![CDATA[andrew_barta]]></twitterHandle>
        <email><![CDATA[andrew@umbraco.com]]></email>
      </communityMember>
      <communityMember id="1153" key="501831cf-5e0c-4bf1-8348-1a4aa11e6041" parentID="1101" level="3" creatorID="0" sortOrder="4" createDate="2016-10-12T19:02:18" updateDate="2017-01-25T14:44:53" nodeName="Claus Jensen" urlName="claus-jensen" path="-1,1058,1101,1153" isDoc="" nodeType="1100" creatorName="Admin" writerName="Admin" writerID="0" template="1099" nodeTypeAlias="communityMember">
        <twitterHandle><![CDATA[cjensen]]></twitterHandle>
        <email><![CDATA[claus@umbraco.com]]></email>
      </communityMember>
    </community>
  </homepage>
</root>