<form novalidate name="contentForm"
      ng-controller="My.Workshop.EditController as vm"
      ng-submit="vm.save()">

    <umb-editor-view>

        <umb-editor-header name="vm.workshop.name"
                           hide-alias="true"
                           hide-description="true"
                           hide-icon="true">
        </umb-editor-header>

        <umb-editor-container class="form-horizontal">
            
            <umb-property property="vm.properties.description">
                <textarea ng-model="vm.workshop.description" rows="10"></textarea>
            </umb-property>
        
            <umb-property property="vm.properties.location">
                <input type="text" style="width: 90%" 
                       on-keyup="vm.lookup(vm.workshop.location)" 
                       ng-model="vm.workshop.location" />

                       <div id="map" style="height: 300px; width: 500px; padding: 10px;"></div>
            </umb-property>

        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button action="vm.save()"
                            type="button"
                            button-style="success"
                            state="vm.buttonState"
                            shortcut="ctrl+s"
                            label="Save workshop"
                            disabled="vm.buttonState === 'busy'">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>


</form>
